# Backend (Java)
backend/target/
*.log

# Frontend
FrontEnd/node_modules/
FrontEnd/dist/

# Env
.env
.env.local
.env.*.local

# Backend secrets
backend/src/main/resources/application.properties

# IDE
.vscode/
.idea/

# Mac
.DS_Store